.ads.ads-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ads.no-results {
  text-align: center;
  margin-top: 40px;
}

.ads.no-results p {
  margin-bottom: 30px;
}