.card {
  width: 300px;
  margin: 15px;
  height: fit-content;
  box-shadow: 0 70px 40px -50px rgba(0,0,0,.2),0 3px 20px rgba(0,0,0,.1)!important;
}

.card:hover {
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}

.card-media {
  height: 140px;
}

.card .picto-container {
  background-position:center;
  background-size:cover;
  width:15px;
  height:15px;
  margin-right:5px;
  display:inline-block;
  margin-top:4px;
}

.card .ad-info {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.card .ad-info .start-date, .card .ad-info .ad-duration, .card .ad-info .ad-reccurent {
  display: flex;
  align-items: flex-end;
}

.link-ad:visited {
  color: #3f51b5;
}

