.card-search {
    width: 70%;
    margin: 20px auto;
}

.fav-title {
  margin-top: 1em;
  font-family: Nunito;
  font-size: 2em;
  color: #0596DE
}

.fav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
