.textintro {
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin: 0 0;
  font-size: 2em;
  height: 10vh;
}

@media screen and (max-width: 750px) {
  /* MEDIA QUERIES BIO */
  .textintro {
    font-size: 1.5em;
  }
}