* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.span-cloche{
  display: flex;
  flex-flow: row-reverse;
  margin-right: 10px;
  color:#02a2ef;
  font-size: small;
  font-family: sans-serif;
}

footer {
  flex-shrink: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  
}