* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.bell {
  position: absolute;
  bottom: 100px;
  right: 30px;
  color: #0596DE;
  cursor: pointer;
}

.fa-bell {
  margin-left: 10px !important;
}

footer {
  flex-shrink: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  
}

@media screen and (max-width: 800px) {
  .bell {
    bottom: 5px !important;
    right: 0;
    width: 100% !important;
  }
}
@media screen and (max-width: 1000px) {
  .bell {
    width: 30%;
    bottom: 90px;
  }
}
